@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #FFFFFF;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.container {
  padding: 8rem 2rem;
}

.plan-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.plan-wrapper .plan-type-header {
  display: flex;
  justify-content: center;
}
.plan-wrapper .plan-type-header .feature {
  width: 33rem;
  margin-right: 2rem;
}
.plan-wrapper .plan-type-header .plan-name {
  display: flex;
  justify-content: center;
}
.plan-wrapper .plan-type-header .plan-name .title.title--big {
  width: 24rem;
  text-align: center;
  padding: 2rem 0;
  color: #FFFFFF;
  border-radius: 0.3rem;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 600;
}
.plan-wrapper .plan-type-header .plan-name .title.title--big:not(:last-child) {
  margin-right: 2.2rem;
}
.plan-wrapper .plan-type-header .plan-name .title.title--big.basic {
  background-color: #1A9D98;
}
.plan-wrapper .plan-type-header .plan-name .title.title--big.gold {
  background-color: #359784;
}
.plan-wrapper .plan-type-header .plan-name .title.title--big.platinum {
  background-color: #1B9DB3;
}
.plan-wrapper .plan-content-box {
  flex: 0 0 100%;
  display: flex;
  padding-top: 0.2rem;
  position: relative;
}
.plan-wrapper .plan-content-box .side-plan-box {
  flex: 0 0 33rem;
  padding-top: 3rem;
  margin-right: 2rem;
  display: flex;
}
.plan-wrapper .plan-content-box .side-plan-box .title.title--medium {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  background-color: #359784;
  color: #FFFFFF;
  border-radius: 0.3rem;
  margin-bottom: 1.4rem;
}
.plan-wrapper .plan-content-box .side-plan-box .average-box {
  margin-right: 0.5rem;
  flex: 0 0 50%;
}
.plan-wrapper .plan-content-box .side-plan-box .average-box ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11rem;
  background-color: rgba(236, 252, 249, 0.32);
  border-radius: 0.5rem;
  font-size: 1.4rem;
  color: #1A929B;
  font-weight: 600;
}
.plan-wrapper .plan-content-box .side-plan-box .average-box ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}
.plan-wrapper .plan-content-box .side-plan-box .location-box {
  flex: 0 0 50%;
}
.plan-wrapper .plan-content-box .side-plan-box .location-box ul li {
  height: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: #1A929B;
  font-weight: 600;
}
.plan-wrapper .plan-content-box .side-plan-box .location-box ul li span {
  width: 100%;
  background-color: rgba(236, 252, 249, 0.32);
  border-radius: 0.5rem;
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
  min-height: 3.2rem;
}
.plan-wrapper .plan-content-box .side-plan-box .location-box ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}
.plan-wrapper .plan-content-box .center-plan-box {
  display: flex;
  justify-content: center;
}
.plan-wrapper .plan-content-box .center-plan-box > div {
  width: 24rem;
  text-align: center;
  border-radius: 0.3rem;
}
.plan-wrapper .plan-content-box .center-plan-box > div:not(:last-child) {
  margin-right: 2.2rem;
}
.plan-wrapper .plan-content-box .center-plan-box > div .plan-price {
  font-size: 3.8rem;
  display: block;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.plan-wrapper .plan-content-box .center-plan-box > div.basic .plan-price {
  color: #1A9D98;
}
.plan-wrapper .plan-content-box .center-plan-box > div.gold .plan-price {
  color: #359784;
}
.plan-wrapper .plan-content-box .center-plan-box > div.platinum .plan-price {
  color: #1B9DB3;
}
.plan-wrapper .plan-content-box .center-plan-box > div ul {
  padding: 0 0.3rem;
}
.plan-wrapper .plan-content-box .center-plan-box > div ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.plan-wrapper .plan-content-box .center-plan-box > div ul li:not(:last-child) {
  height: 11rem;
}
.plan-wrapper .plan-content-box .center-plan-box > div ul li:last-child {
  height: auto;
  padding: 0.8rem 0;
}
.plan-wrapper .plan-content-box .center-plan-box > div ul li div {
  width: 100%;
  background-color: rgba(236, 252, 249, 0.32);
  border-radius: 0.3rem;
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
  min-height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan-wrapper .plan-content-box .center-plan-box > div ul li div span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plan-wrapper .plan-content-box .center-plan-box > div ul li div svg {
  position: relative;
  z-index: 3;
}
.plan-wrapper .plan-content-box .center-plan-box > div ul li div.cross span svg {
  fill: #B31938;
}
.plan-wrapper .plan-content-box .center-plan-box > div ul li div.check span svg {
  fill: #57B31B;
}
.plan-wrapper .plan-content-box .center-plan-box > div ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}
.plan-wrapper .plan-content-box .center-plan-box > div ul li.button-box .btn.btn--plan {
  padding: 1.4rem 2.4rem;
  border-radius: 0.3rem;
  width: 100%;
  text-align: center;
}
.plan-wrapper .plan-content-box .center-plan-box > div ul li.button-box .btn.btn--plan.basic {
  background-color: #1A9D98;
}
.plan-wrapper .plan-content-box .center-plan-box > div ul li.button-box .btn.btn--plan.gold {
  background-color: #359784;
}
.plan-wrapper .plan-content-box .center-plan-box > div ul li.button-box .btn.btn--plan.platinum {
  background-color: #1B9DB3;
}

/*# sourceMappingURL=style.css.map */
