@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$color-tint-bg: rgba(#ECFCF9,0.32);
$color-basic:#1A9D98;
$color-gold:#359784;
$color-platinum:#1B9DB3;

$feature-width: 33rem;
$each-feature-height: 11rem;

$default-font: 'Open Sans', sans-serif;

*,
*::before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    position: relative;
    font-size: 1.6rem;
    font-family: $default-font;
    line-height: 1.6;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: #FFFFFF;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.container {
    padding: 8rem 2rem;
}

.plan-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
    
    &::-webkit-scrollbar {
     width: .3rem;
     border-radius: .3rem;
    }
  
    &::-webkit-scrollbar-track {
        background: rgba(#f1f1f1,0.7);
    }
    
    &::-webkit-scrollbar-thumb {
        background: #D9FAF3;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #C6F7ED;
    }

    .plan-type-header {
        display: flex;
        justify-content: center;
        .feature {
            width: 33rem;
            margin-right: 2rem;
            // background-color: #81C0BB;
        }
        .plan-name{
            display: flex;
            justify-content: center;
            .title.title--big {
                width: 24rem;
                text-align: center;
                padding: 2rem 0;
                color: #FFFFFF;
                border-radius: .3rem;
                text-transform: uppercase;
                font-size: 2.8rem;
                font-weight: 600;
                &:not(:last-child) {
                    margin-right: 2.2rem;
                }
                &.basic {
                    background-color: $color-basic;
                }
                &.gold {
                    background-color: $color-gold;
                }
                &.platinum {
                    background-color: $color-platinum;
                }
            }
        }
    }

    .plan-content-box {
        flex: 0 0 100%;
        display: flex;
        padding-top: .2rem;
        position: relative;

        .side-plan-box {
            flex: 0 0 $feature-width;
            padding-top: 5rem;
            margin-right: 2rem;
            display: flex;
            .title.title--medium {
                font-size: 2rem;
                font-weight: 400;
                text-align: center;
                background-color: #359784;
                color: #FFFFFF;
                border-radius: .3rem;
                margin-bottom: 1.4rem;
            }
            .average-box {
                padding-right: .5rem;
                flex: 0 0 50%;

                ul {
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: $each-feature-height;
                        background-color: $color-tint-bg;
                        border-radius: .5rem;
                        font-size: 1.4rem;
                        color: #1A929B;
                        font-weight: 600;
                        &:not(:last-child) {
                            margin-bottom: .5rem;
                        }
                    }
                }
            }

            .location-box {
                flex: 0 0 50%;
                padding-left: .5rem;
                ul {
                    li {
                        height: $each-feature-height;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.4rem;
                        color: #1A929B;
                        font-weight: 600;
                        span {
                            width: 100%;
                            background-color: $color-tint-bg;
                            border-radius: .5rem;
                            display: block;
                            text-align: center;
                            margin-bottom: .5rem;
                            min-height: 3.2rem;
                        }
                        &:not(:last-child) {
                            margin-bottom: .5rem;
                        }
                    }
                }
            }

        }

        .center-plan-box {
            display: flex;
            justify-content: center;

            & > div {
                width: 24rem;
                text-align: center;
                &:not(:last-child) {
                    margin-right: 2.2rem;
                }
                border-radius: .3rem;
                .plan-price {
                    font-size: 3.8rem;
                    display: block;
                    font-weight: 700;
                    margin-bottom: 3.5rem;
                }
                &.basic {
                    .plan-price {
                        color: $color-basic;
                    }
                    // box-shadow: 0 .8rem .9rem 0 rgba($color-basic,0.2);
                }
                &.gold {
                    .plan-price {
                        color: $color-gold;
                    }
                    // box-shadow: 0 .8rem .9rem 0 rgba($color-gold,0.2);
                }
                &.platinum {
                    .plan-price {
                        color: $color-platinum;
                    }
                    // box-shadow: 0 .8rem .9rem 0 rgba($color-platinum,0.2);
                }

                ul {
                    padding: 0 .3rem;
                    li {
                        &:not(:last-child) {
                            height: $each-feature-height;
                        }
                        &:last-child {
                            height: auto;
                            padding: .8rem 0;
                        }
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        div {
                            width: 100%;
                            background-color: $color-tint-bg;
                            border-radius: .3rem;
                            display: block;
                            text-align: center;
                            margin-bottom: .5rem;
                            min-height: 3.2rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            span {
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            svg {
                                position: relative;
                                z-index: 3;
                            }
                            &.cross {
                                span {
                                    svg {
                                        fill: #B31938;
                                    }
                                }
                            }
                            &.check {
                                span {
                                    svg {
                                        fill: #57B31B;
                                    }
                                }
                            }
                        }
                        &:not(:last-child) {
                            margin-bottom: .5rem;
                        }
                        &.button-box {
                            .btn.btn--plan {
                                padding: 1.4rem 2.4rem;
                                border-radius: .3rem;
                                width: 100%;
                                text-align: center;
                                &.basic {
                                    background-color: $color-basic;
                                }
                                &.gold {
                                    background-color: $color-gold;
                                }
                                &.platinum {
                                    background-color: $color-platinum;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 
